@use 'bootstrap';

/* Common */

body{
    font-family: 'Poppins', sans-serif ;
    background-color: #ecf2ee;
}

.container{
    background-color: white;
} 

.container-fluid{
    background-color: white;
}

.active{
    color: green!important;
}

.tog{
    border: 2px solid lightgrey!important;
}



/* Site Header */

header{
     position: sticky;
        top: 0px;
        z-index: 1;
    
    nav{
        position: sticky;
        top: 0px;
        z-index: 1;
        height: 100px;
        
        .container{
            border-bottom: 5px solid #ecf2ee;
            
            a{
                text-decoration: none;
                color: black;
                letter-spacing: 3px;
                font-size: 14px;
                padding: 10px 15px; 
                font-weight: bolder;

                &:hover{
                    color: green!important;
                }
            }
        }
    }
}


/* Site Footer */

footer{
    .container{
        padding: 20px 0;
        border-top: 5px solid #ecf2ee;

        .foot_wrap{
            .icon_wrapper{
                font-size: 30px;
                a{
                    text-decoration: none;
                    color: gray;

                }
                .fb{
                    &:hover{
                        color: #3b5998;
                    }
                }

                .ig{
                    &:hover{
                        color:#c837ac;
                    }
                }
            }
        }
    }
}

/* Home */

main{
        
        .pubs{
            border-top: 5px solid #ecf2ee;
            .container{
                .card_wrapper{
                    .card{
                        .img_wrap{
                            height: 450px;
                            margin-bottom: 10px;
                            img{
                                height: 100%;
                                 object-fit: cover; 
                            }
                        }
    
                        &:hover{
                            color: green
                        }
                    }
                }
            }
        }
    }


/* Illustrazioni */

main{
    .container{
        .carousel-indicators [data-bs-target]{
            background-color: lightgreen;
        }

        .carousel-item{
            img{
                width: 700px !important;
                margin: auto;
                padding-bottom: 100px;
            }
        }
        .carousel-control-prev-icon {
            background-color: lightgreen;
            border-radius: 50%;
        }

        .carousel-control-next-icon {
            background-color: lightgreen;
            border-radius: 50%;
        }
    }
}

/* Shop */

main{
    .container{
        h3{
            a{
                color: black;

                &:hover{
                    color:green;
                }
            }
        }

        .shop_wrapper{
            width: 70%;
            margin: auto;
            
            .row{
                .col-6{
                    h4{
                        a{
                            text-decoration: none;
                            color: #da4444;

                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* About Me */
main{
    .container{
        .about_wrapper{
            
            .col-7{
                p{
                    span{
                        font-weight: bold;
                    }
                }

                

            }
        }
    }
}


/* Contatti */

.container{
    form{
        .area_testo{
            width: 300px;
            height: 200px;
        }
    }
}
